.register-page-container {
    height: 100vh;
    overflow-y: auto;
}

.register-form {
    border-radius: 30px;
    border: 2px solid black;
    padding: 25px;
    max-width: 700px;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px #333;
}

.register-message{
    color: #18C09F;
}

.error {
    color: red;
}

.margin-bottom{
    margin-bottom: 15px;
}

#inputGroupPrepend{
    text-shadow: none;
}

.sign-in-button:hover {
    color: #18C09F;
    text-decoration: underline;
}

.agreement-button:hover,
.policy-button:hover{
    color: red;
}